//style.scss

@charset "utf-8";

@import "scss/_font";
@import "scss/_helper";

body {margin:0;padding:0;color:#fff;}
div {
  display:block;
  box-sizing:border-box;
}

h1 {
  font-family:$gill-sans;
  text-align:$alignCenter;
  font-size:30px;
  line-height:35px;
  padding:0;

}
h2 {
  font-family:$gill-sans;
  text-align:$alignCenter;
  font-size:30px;
  line-height:35px;
  padding:0;
}
a {
  color:#fff;
  text-decoration:none;
}
.wrapper {
  width:100%;
  padding:0;
  text-align:$alignCenter;
  .logo {
    float:$floatLeft;
    margin:0 100px 0 0;
  }
  header {
    overflow:hidden;
    padding:30px 20px;
    background-color:#999;
    border:1px solid #f4f4f4;
    span {
      color:#fff;
      float:$floatRight;
    }
  }
  .globalNav {
    float:$floatLeft;
    margin:0;
    li {
      list-style:none;
      display:inline;
      color:#fff;
      margin:0 20px 0 0;
    }
  }
  span {
    &.bold {
      font-weight:$bold;
    }
    &.italics {
      font-style: $italic;
    }
  }
  section {
    margin:0;
    padding:40px 15px;
    a {
      display:block;
      border:1px solid #f4f4f4;
      -o-border-radius:20px;
      -webkit-border-radius:20px;
      -moz-border-radius:20px;
      border-radius:20px;
      padding:10px 30px;
    }
    &:first-of-type {
      background-color:#999;
      a {
        margin:0 0 30px;
      }
      p {
        margin:0 0 40px;
      }
    }
    &:nth-of-type(2) {
      h2, p {
        color:#000;
      }
      a {
        margin:0 0 30px;
        color:#999;
      }
      article {
        background-color:#fff;
        .flex-container {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-flow: row wrap;
          justify-content: space-around;
          p {color:#fff;}
          li {
            list-style:none;
            padding:10px;
            margin: 10px auto;
            background-color:#000;
            -o-border-radius:5px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            border-radius:5px;
          }
        }
        &:nth-of-type(2) {
          margin:0 0 50px;
        }
      }
    }

  }

}

@import "scss/_responsive";
